* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.aboutTheProject img {
  height: 400px;
}

.aboutMe {
  border: .25px solid #E5E5E5;
  min-width: 80%%;
  padding: 20px;
}

.aboutMe:hover {
  box-shadow: 0 5px 6px 0 #E5E5E5;
}

.arrow-left .fa-inverse {
  color: #385FA3;
}

.backToTop {
  display: flex;
  left: 0;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
}

.backToTop:hover {
  /* background-color: #E5E5E5; */
  color: #C0D4F5;
}

/* .backToTop img {
  display: left;
} */

body {
  /* display: flex; */
  font-family: 'Roboto', 'Century Gothic', 'Futura', sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 20px;
}

.currentPage {
  background-color: #C0D4F5;
  display: flex;
  /* height: 45px; */
  /* justify-content: center; */
  /* margin-bottom: 20px;
  width: 100%; */
}

.currentPage .arrow-left {
  align-self: flex-start; /*added this property*/
  height: 45px;
  margin: auto; /*changed this property*/
  padding: 10px 0 15px 15px;
  /* position: fixed; */
  width: 45px;
}

.currentPage h5 {
  display: flex;
  justify-content: center;
  margin-left: -45px;
  width: 100%;
}

.cumulusLink img {
  height: auto;
  min-width: 400px;
}

.cumulusLink img:hover {
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 3px 12px 30px -8px rgba(0,0,0,0.4);
  margin: 20px;
  margin-bottom: 40px;
  padding: 10px;
  transform: scale(1.5);
  transition: all ease 0.2s;
}

/*---------- code for image inside of iPhone & Desktop Frames ----------*/

          .cumulusDesktopDashboard {
            /* border-radius: 5px 0 0 5px; */
            border-style: none;
            height: auto;
            vertical-align: middle;
            width: 100%;
            z-index: -1;
          }

          #cumulusDesktopFrame1 {
            border: solid 25px #e8e8e8;
          	border-top-width: 35px;
          	border-radius: 50px;
          	box-shadow: 3px 12px 30px -8px rgba(0,0,0,0.4);
            margin-bottom: 25px;
            width: 300px;
            overflow-y: scroll;
          }

          #cumulusDesktopFrame2 {
            border: solid 25px #e8e8e8;
          	border-top-width: 35px;
          	border-radius: 50px;
          	box-shadow: 3px 12px 30px -8px rgba(0,0,0,0.4);
            margin-bottom: 25px;
            width: 300px;
            overflow-y: scroll;
          }

          .cumulusDesktopHome {
            /* border-radius: 5px 0 0 5px; */
            border-style: none;
            height: auto;
            vertical-align: middle;
            width: 100%;
            z-index: -1;
          }

          #cumulusiPhoneFrame1 {
            border-radius: 25px;
            border: solid 15px #404040;
            box-shadow: 3px 12px 30px -8px rgba(0,0,0,0.4);
            margin-bottom: 25px;
            max-height: 800px;
            overflow-y: scroll;
          }

          #cumulusiPhoneFrame2 {
            border-radius: 25px;
            border: solid 15px #404040;
            box-shadow: 3px 12px 30px -8px rgba(0,0,0,0.4);
            margin-bottom: 25px;
            max-height: 800px;
            overflow-y: scroll;
          }

          .cumulusiPhoneHome {
            border-radius: 15px 0 0 15px;
            border-style: none;
            height: auto;
            vertical-align: middle;
            width: 100%;
            z-index: -1;
          }

          .cumulusProjectDetailsDesktop {
            transform: none;
            transition: all ease 0.4s;
          }
          .cumulusProjectDetailsiPhone {
            transform: none;
            transition: all ease 0.4s;
          }

          .mockup ::-webkit-scrollbar {
          	display: none;
            /* width: 0; */
          }

/* ---------- end iphone and desktop frame coding ---------- */

.discoveryAndResearch1 img {
  display: flex;
  height: auto;
  max-width: 75%;
  /* max-height: 100%; */
}

.discoveryAndResearch3 img {
  max-height: 325px;
}

.featuredProject {
  border: .25px solid #E5E5E5;
  margin: 0;
  margin-bottom: 20px;
  width: 100%;
  padding: 20px;
}

.featuredProject:hover {
  box-shadow: 0 5px 6px 0 #E5E5E5;
}

footer {
  display: none;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  color: #385FA3;
  display: block;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.25;
  margin-top: 1rem;
  text-align: center;
  text-decoration: none;
}

h3 {
  /* color: #9AB6EA; */
  color: #385FA3;
  display: block;
  font-size: 1.8rem;
  line-height: 2rem;
  margin: 10px 0;
  text-align: center;
}

h4 {
  font-size: 1.75rem;
  margin: 10px;
  text-align: center;
}

h5 {
  color: #385FA3;
  font-size: 18px;
  line-height: 2.3;
  text-align: center;
}

h6 {
  color: #385FA3;
  font-size: 2.5em;
  font-weight: bold;
  padding-top: 20px;
}
.hamburger {
  color: white;
  cursor:pointer;
  display: block;
  font-size:30px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.hamburger:hover {
  color: #385FA3;
}

header {
  background-image: url(../images/heroiPhone.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  min-height: 150px;
  justify-content: center;
}

html {
  font-size: 10px;
  color: black;
}

img {
  display: block;
  margin: auto;
}

.informationArchitecture1 img {
  height: auto;
  width: 55%;
}

.informationArchitecture2 img {
  border: solid 1px black;
  height: auto;
  width: 85%;
}

.informationArchitecture4 img {
  height: auto;
  max-width: 85%;
}

.logo-and-type {
  color: white;
  height: 100%;
  padding: 2.5%;
  text-align: center;
}

.logo-and-type img{
  height: 50px;
  width: 50px;
}

.navbar {
  display: none;
}

/* Overlay Background */
.overlay {
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  bottom: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 1.8rem;
  color: white;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus, .overlay a:active {
  /* color: #f1f1f1; */
  background-color: #9AB6EA;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.overlay p {
  color: #9AB6EA;
  font-size: 2rem;
}

p {
  font-size: 16px;
  font-weight: lighter;
  line-height: 1.5;
  margin: 2rem 0;
  max-width: 500px
  text-align: center;
}

.project {
  border: .25px solid #E5E5E5;
  margin-bottom: 20px;
  width: 100%;
  padding: 20px;
}

.project:hover {
  box-shadow: 0 5px 6px 0 #E5E5E5;
}

.projectDetails {
  align-items: center;
  border: .25px solid #E5E5E5;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  margin-bottom: 20px;
  padding: 20px;
  max-width: 100%
}

.projectDetails:hover {
  box-shadow: 0 5px 6px 0 #E5E5E5;
}

/* .projectDetails img {
  max-height: 325px;
  max-width: 90%;
} */

/* ----- Image Carousel Code ----- */
        .visualDesign {
          align-items: center;
          display: flex;
          overflow-x: hidden;
          overflow-y: hidden;
        }

        .visualVersions {
          align-items: center;
          display: block;
          flex-direction: column;
          justify-content: center;
          width: 100%;
        }

        .visualVersions img {
          height: 400px;
        }

        .w3-button:hover {
          background-color: #9AB6EA;
          color: #385FA3;
        }

        .w3-display-left {
          font-size: 18px;
          height: 45px;
          justify-content: flex-start;
          margin-left: 25px;
          width:45px;
        }

        .w3-display-right {
          align-items: right;
          font-size: 18px;
          height: 45px;
          justify-content: flex-end;
          margin-right: 25px;
          width: 45px;
        }

/* -- Carousel dots -- */
        .visualVersionsDots {
          align-items: center;
          background-color: white;
          border: .25px solid #385FA3;
          border-radius: 50%;
          cursor: pointer;
          display: inline-block;
          height: 15px;
          justify-content: center;
          margin: 10px;
          transition: background-color 0.6s ease;
          width: 15px;
        }

        /* .visualVersionsDots:active {
          background-color: red;
        } */

        .visualVersionsDots:hover {
          background-color: #385FA3;
        }

        .visualVersionsDotsContainer {
          display: flex;
          justify-content: center;
          height: 15px;
          width: 100%;
        }


/* ----------------------Desktop Screen Size---------------------- */
@media screen and (min-width: 668px) {
  .aboutMe {
    margin-bottom: 50px;
    min-width: 90%;
    padding: 50px;
  }

  .aboutMe h2 {
    text-align: left;
  }

  .aboutMe img {
    float: left;
    padding-right: 50px;
    width: 33%;
  }

  .aboutMe p {
    text-align: left;
  }

  .aboutMeText {
    display: inline-block;
    width: 50%;
  }

  .allProjects {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    max-width: 878px;
  }

  body {
    display: block;
  }
  .container {
    align-content: space-between;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    margin-bottom: 0;
  }

  .container h2 {
    text-align: center;
  }

  #cumulusDesktopFrame1 {
    height: 40vw;
    width: 60vw;
  }

  #cumulusDesktopFrame2 {
    height: 40vw;
    width: 60vw;
  }

  .cumulusLink img {
    min-width: 450px;
    width: 75%;
  }

  .discoveryAndResearch1 img {
    max-width: 50%;
    /* max-height: 100%; */
  }

  .discoveryAndResearch3 img {
    max-height: 500px;
  }

  .fa {
    color: rgba(255,255,255,.5);
  }

  .featuredProject {
    margin-bottom: 50px;
    max-width: 878px;
    padding: 50px;
  }

  .featuredProject img {
    float: left;
    padding-right: 50px;
  }

  .featuredProject h2  {
    display: inline-block;
    text-align: center;
  }

  .featuredProject p {
    text-align: left;
  }

  footer {
    bottom: 0;
    background-color: #C0D4F5;
    display: flex;
    justify-content: space-between;
    left: 0;
    position: fixed;
    width: 100%;
  }

  footer .icons {
    display: flex;
    justify-content: center;
  }

  .hamburger {
    display: none;
  }

  header {
    background-image: url(../images/heroDesktop.png);
    background-position: left;
    background-repeat: no-repeat;
    /* background-size: cover; */
    display: block;
    height: 300px;
    justify-content: center;
  }

  .icons li {
    display: flex;
    justify-content: center;
    min-width: 100px;
  }

  .icons li a {
    font-size: 3rem;
    justify-content: space-between;
    line-height: 1.5;
  }

  .informationArchitecture1 img {
    height: auto;
    min-width: 250px;
    width: 25%;
  }

  .informationArchitecture2 img {
    border: solid 1px black;
    min-width: 550px;
    width: 60%;
  }

  .informationArchitecture3 img {
    height: auto;
    min-width: 500px;
    width: 60%
  }

  .informationArchitecture4 img {
    height: auto;
    min-width: 400px;
    width: 45%
  }

  .logo-and-type img{
    height: 100px;
    justify-content: center;
    width: 100px;
  }

  .navbar {
    background-color: none;
    display: block;
    padding: 5px;
    min-width: 25%;
  }

  .navbar li {
    border-left: 1px solid white;
    float: right;
  }

  .navbar li:last-child {
    border-left: none;
  }

  .navbar li a {
    color: white;
    display: block;
    padding: 10px;
    text-align: center;
  }

  .navbar li a:hover {
    color: #C0D4F5;
  }

  p {
    font-size: 1.5rem;
    text-align: center;
  }

  .project {
    justify-content: space-around;
    max-width: 100%;
  }

  .project img {
    max-width: 90%;
  }

  .projectDetails {
    margin-bottom: 50px;
    min-width: 90%;
    padding: 50px;
  }

  ul {
    list-style-type: none;
    overflow: hidden;
    width: 100%;
  }

  .visualDesign {
    white-space: nowrap;
    width: 100%;
  }

  .visualVersions {
    align-items: center;
    display: block;
    height: auto;
    margin-bottom: 50px;
    width: 100%;
  }

  .visualVersions img {
    height: 500px;
  }

}



/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
