:root {
  --main-border-style: .2px solid #f0f0f0;
  --main-box-shadow: 0 2.5px 4px 0 #f5f5f5;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}

.aboutTheProject img {
  height: 400px;
}

.aboutMe {
  border: var(--main-border-style);
  min-width: 80%;
  padding: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.aboutMeText h2 {
  text-align: center;
}

.aboutMe:hover {
  box-shadow: var(--main-box-shadow);
}

.arrow-left .fa-inverse {
  color: #385FA3;
}

.backToTop {
  display: flex;
  left: 0;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
}

.backToTop:hover {
  /* background-color: #E5E5E5; */
  color: #C0D4F5;
}

body {
  /* display: flex; */
  font-family: 'Roboto', 'Century Gothic', 'Futura', sans-serif;
}

button {
  background-color: #157FFB;
  border-radius: 5px;
  color: #ffffff;
  justify-content: center;
  width: 150px;
}

button:hover {
  background-color: #07598C;
}

/*-------Contact Me Form-------*/
          /* Style inputs with type="text", select elements and textareas */
          input[type=text], select, textarea {
            border: 1px solid #ccc; /* Gray border */
            border-radius: 4px; /* Rounded borders */
            box-sizing: border-box;
            margin-top: 6px; /* Add a top margin */
            margin-bottom: 16px; /* Bottom margin */
            padding: 20px; /* Some padding */
            resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
            width: 100%;
          }

          /* Style the submit button with a specific background color etc */
          input[type=submit] {
            background-color: #157FFB;
            color: #ffffff;
            padding: 12px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
          }

          /* When moving the mouse over the submit button, add a darker green color */
          input[type=submit]:hover {
            background-color: #07598C;
          }

/*-------------End - Contact Me Form ---------------*/

.citymapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
}

.coded-prototype {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.coded-prototype img {
  max-height: 400px;
}

.coded-version {
  align-items: center;
  display: flex;
  flex-direction: column;
  /* flex-wrap: nowrap; */
  justify-content: center;
}

.competing-products {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 20px;
}

.currentPage {
  background-color: #C0D4F5;
  display: flex;
  /* height: 45px; */
  /* justify-content: center; */
  /* margin-bottom: 20px;
  width: 100%; */
}

.currentPage .arrow-left {
  align-self: flex-start; /*added this property*/
  height: 45px;
  margin: auto; /*changed this property*/
  padding: 10px 0 15px 15px;
  /* position: fixed; */
  width: 45px;
}

.currentPage h5 {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: -45px;
  width: 100%;
}

.cumulusLink img {
  height: auto;
  min-width: 400px;
  padding-bottom: 50px;
}

.cumulusLink img:hover {
  background-color: #043959;
  border-radius: 30px;
  box-shadow: 0px 0px 5px 5px rgba(21,127,251, 1.0);
  margin: 20px;
  margin-bottom: 40px;
  padding: 25px;
  transform: scale(1.5);
}

/*---------- code for image inside of iPhone & Desktop Frames ----------*/

          .cumulusDesktopDashboard {
            /* border-radius: 5px 0 0 5px; */
            border-style: none;
            height: 100%;
            vertical-align: middle;
            width: 100%;
            z-index: -1;
          }

          #cumulusDesktopFrame1 {
            border: solid 25px #e8e8e8;
          	border-top-width: 35px;
          	border-radius: 50px;
          	box-shadow: 3px 12px 30px -8px rgba(0,0,0,0.4);
            height: 60vw;
            margin-bottom: 25px;
            width: 80vw;
            overflow-y: scroll;
          }

          #cumulusDesktopFrame2 {
            border: solid 25px #e8e8e8;
          	border-top-width: 35px;
          	border-radius: 50px;
          	box-shadow: 3px 12px 30px -8px rgba(0,0,0,0.4);
            height: 60vw;
            margin-bottom: 25px;
            width: 80vw;
            overflow-y: scroll;
          }

          .cumulusDesktopHome {
            /* border-radius: 5px 0 0 5px; */
            border-style: none;
            height: auto;
            vertical-align: middle;
            width: 100%;
            z-index: -1;
          }

          #cumulusiPhoneFrame1 {
            border-radius: 25px;
            border: solid 15px #404040;
            box-shadow: 3px 12px 30px -8px rgba(0,0,0,0.4);
            margin-bottom: 25px;
            max-height: 80vw;
            overflow-y: scroll;
            width: 40vw;
          }

          #cumulusiPhoneFrame2 {
            border-radius: 25px;
            border: solid 15px #404040;
            box-shadow: 3px 12px 30px -8px rgba(0,0,0,0.4);
            margin-bottom: 25px;
            max-height: 80vw;
            overflow-y: scroll;
            width: 40vw;
          }

          .cumulusiPhoneDashboard {
            width: 100%;
          }

          .cumulusiPhoneHome {
            border-radius: 15px 0 0 15px;
            border-style: none;
            height: auto;
            vertical-align: middle;
            width: 100%;
            z-index: -1;
          }

          .cumulusProjectDetailsDesktop {
            transform: none;
            transition: all ease 0.4s;
          }
          .cumulusProjectDetailsiPhone {
            transform: none;
            transition: all ease 0.4s;
          }

          .mockup ::-webkit-scrollbar {
          	display: none;
            /* width: 0; */
          }

/* ---------- end iphone and desktop frame coding ---------- */
.dcmetro {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.designsystem img {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 33%;

}

.discoveryAndResearch1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.discoveryAndResearch1 img {
  display: flex;
  flex-direction: row;
  height: auto;
  max-width: 75%;
  /* max-height: 100%; */
}

.discoveryAndResearch3-advantage {
  padding: 20px;
}

.discoveryAndResearch3 img {
  max-height: 50vw;
}

.display-across {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.display-across img {
/* padding: 20px; */
}

.featuredProject {
  border: var(--main-border-style);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  margin-bottom: 20px;
  width: 90%;
  padding: 20px;
}

.featuredProject:hover {
  box-shadow: var(--main-box-shadow);
}

.featuredProject img {
  /* margin-bottom: 20px; */
  display: flex;
  justify-content: center;
  height: 80vw;
  padding: 50px;
}

footer {
  display: none;
}

h1 {
  font-size: 2.5rem;
  line-height: 2rem;
}

h2 {
  color: #385FA3;
  display: block;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2.5rem;
  margin-top: 1rem;
  text-align: center;
  text-decoration: none;
}

h3 {
  /* color: #9AB6EA; */
  color: #385FA3;
  display: block;
  font-size: 2rem;
  line-height: 2rem;
  margin: 10px 0;
  text-align: center;
}

h4 {
  font-size: 1.75rem;
  margin: 10px;
  text-align: center;
}

h5 {
  color: #385FA3;
  font-size: 18px;
  line-height: 2.3rem;
  text-align: center;
}

h6 {
  color: #385FA3;
  font-size: 2.5em;
  font-weight: bold;
  padding-top: 20px;
  text-align: center;
}
.hamburger {
  color: white;
  cursor:pointer;
  display: block;
  font-size:30px;
  position: absolute;
  top: 10px;
  right: 20px;
}

.hamburger:hover {
  color: #385FA3;
}

header {
  background-image: url(../images/heroiPhone.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  min-height: 150px;
  justify-content: center;
}

html {
  font-size: 10px;
  color: black;
}

/* img {
  display: block;
} */

.informationArchitecture1 {
  align-items: center;
  border: var(--main-border-style);
  display: flex;
  flex-direction: column;
  /* height: 400px; */
  justify-content: center;
  margin-bottom: 20px;
  padding: 50px;
  /* width: 100% */
}

.informationArchitecture1 img {
  height: auto;
  width: 55%;
}

.informationArchitecture2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding-bottom: 20px;
}

.informationArchitecture2 img {
  border: solid 2px black;
  min-width: 300px;
  width: 60%;
}

.informationArchitecture3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.informationArchitecture3 img {
  min-width: 300px;
  width: 60%;
  padding: 20px;
}

.informationArchitecture4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.info-architecture4-callouts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-architecture4-tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
  width: 75%;
}

.info-architecture4-testing2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
  padding-bottom: 20px;
  width: 33%;
}

.info-architecture4-upper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-architecture4-upper img {
  padding-bottom: 20px;
  width: 50%;
}

.inner-wrap {
  margin: 20px;
}

.inner-wrap h5 {
  color: #b3b3b3;
}

.inner-wrap h6 {
  color: #b3b3b3;
}


.logo-and-type {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.logo-and-type img{
  height: 15vw;
  width: 15vw;
}

.navbar {
  display: none;
}

/* Overlay Background */
.overlay {
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  bottom: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 1.8rem;
  color: white;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus, .overlay a:active {
  /* color: #f1f1f1; */
  background-color: #9AB6EA;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.overlay p {
  color: #9AB6EA;
  font-size: 2rem;
}

p {
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 2rem;
    text-align: center;
}

.project {
  border: var(--main-border-style);
  margin-bottom: 20px;
  width: 100%;
  padding: 50px;
}

.project:hover {
  box-shadow: var(--main-box-shadow);
}

.projectDetails {
  /* align-items: center; */
  border: var(--main-border-style);
  /* display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  margin-bottom: 20px;
  padding: 50px; */
  width: 100%;
}

.projectDetails:hover {
  box-shadow: var(--main-box-shadow);
}

.prototypeTesting {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.sketches {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sketches h3 {
  padding-top: 20px;
}

.slogan {
  font-size: 2rem;
  text-align: center;
}

.space-around {
  /* display: flex; */
}

/* ----- Image Carousel Code ----- */
        .visualDesign {
          align-items: center;
          display: flex;
          justify-content: center;
          overflow-x: hidden;
          overflow-y: hidden;
          width: 100%;
        }

        .visualVersions {
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-bottom: 20px;
          width: 100%;
        }

        .visualVersions img {
          height: 400px;
          padding-bottom: 20px;
        }

        .w3-button:hover {
          background-color: #9AB6EA;
          color: #385FA3;
        }

        .w3-display-left {
          font-size: 18px;
          height: 45px;
          justify-content: flex-start;
          margin-left: 25px;
          width:45px;
        }

        .w3-display-right {
          align-items: right;
          font-size: 18px;
          height: 45px;
          justify-content: flex-end;
          margin-right: 25px;
          width: 45px;
        }

/*---------------------------------------------------------------- */
/* -------------mobile device Image size = 100% ------------------ */
/*---------------------------------------------------------------- */

@media screen and (max-width: 375px) {

    img {
    width: 100%;
    }

    .informationArchitecture1 img,
    .informationArchitecture2 img,
    .informationArchitecture3 img {
      min-width: 100%;
    }

    .prototypeTesting img {
      max-width: 30vw;
      width: 50%;
    }
    }


/*---------------------------------------------------------------- */
/* ----------------------Desktop Screen Size---------------------- */
/*---------------------------------------------------------------- */

@media screen and (min-width: 668px) {
  .aboutMe {
    margin-bottom: 50px;
    min-width: 90%;
    padding: 50px;
  }

  .aboutMeText h2 {
    text-align: left;
  }

  .aboutMe img {
    float: left;
    height: 25%;
    padding-right: 50px;
  }

  .aboutMe p {
    text-align: left;
  }

  .aboutMeText {
    display: inline-block;
    max-width: 50%;
  }

  .aboutTheProject {
    display: flex;
  }

  .aboutTheProject h2 {
    display: inline-block;
    text-align: center;
  }

  .aboutTheProject img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    float: left;
    padding-right: 50px;
  }

  .aboutTheProject p {
    text-align: left;
  }

  .aboutTheProjectPetApp {
    width: 33%;
  }

  .allProjects {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    width: 90%;
  }

  .allProjects h2 {
    text-align: left;
  }

  body {
    display: block;
  }

  .brainstormingSketches {
    display: flex;
    justify-content: center;
  }

  .brainstormingSketches img {
    max-height: 45vw;
    padding: 20px;
    max-width: 45%
  }

  .inner-wrap button {
    display: flex;
    justify-content: flex-start;
}

  .citymapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .coded-version {
    padding-left: 50px;
  }

  .coded-version h3 {
    text-align: left;
    font-weight: bolder;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .coded-version h5 {
    text-align: left;
  }

  .coded-version p {
    text-align: left;
  }

  .competing-products h3 {
    /* padding-left: 20px; */
    text-align: left;
  }
  .competing-products p {
    /* padding-left: 20px;
    padding-right: 50px; */
    text-align: left;
    width: 20vw;
  }

  .competitive-analysis {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .competing-products {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .container {
    /* align-content: space-between;
    align-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    margin-bottom: 0;
    width: 100%;
  }

  .container h2 {
    /* text-align: center; */
  }

  #cumulusDesktopFrame1 {
    height: 40vw;
    width: 60vw;
  }

  #cumulusDesktopFrame2 {
    height: 40vw;
    width: 60vw;
  }

  #cumulusiPhoneFrame1 {
    max-height: 60vw;
    width: 30vw;
  }

  #cumulusiPhoneFrame2 {
    max-height: 60vw;
    width: 30vw;
  }


  .cumulusLink img {
    min-width: 450px;
    width: 75%;
  }

  .cumulusProjectDetailsiPhone {
    margin: 50px;
  }

  .dcmetro {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  max-width: 100%;
  margin-bottom: 20px;
  }

  .discoveryAndResearch1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .discoveryAndResearch1 img {
    max-width: 50%;
    /* max-height: 100%; */
  }

  .discoveryAndResearch3 {
    padding-top: 50px;
  }

  .discoveryAndResearch3-advantage {
    display: flex;
    text-align: center;
    /* padding-top: 50px; */
  }

  .discoveryAndResearch3 img {
    max-height: 30vw;
  }

  .display-across {
    align-items: flex-start;
    display: flex;
    flex-wrap: nowrap;
  }

  /* .display-across img {
    height: 30vw;
  } */

  .fa {
    color: rgba(255,255,255,.5);
  }

  .featuredProject {
    margin-bottom: 50px;
    width: 90%;
    padding: 50px;
  }

  .featuredProject img {
    float: left;
    height: 45vw;
    min-height: 500px;
    padding: 50px;
  }

  .featuredProject h2  {
    display: flex;
    margin-top: 0;
    text-align: left;
  }

  .featuredProject p {
    max-width: 100%;
    text-align: left;
  }

  footer {
    bottom: 0;
    background-color: #C0D4F5;
    display: flex;
    justify-content: space-between;
    left: 0;
    position: fixed;
    width: 100%;
  }

  footer .icons {
    display: flex;
    justify-content: center;
  }

  .hamburger {
    display: none;
  }

  header {
    background-image: url(../images/heroDesktop.png);
    background-position: left;
    background-repeat: no-repeat;
    /* background-size: cover; */
    display: block;
    height: 300px;
    justify-content: center;
  }

  .icons li {
    display: flex;
    justify-content: center;
    min-width: 100px;
  }

  .icons li a {
    font-size: 3rem;
    justify-content: space-between;
    line-height: 1.5;
  }

  .informationArchitecture1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 50px;
    width: 90%;
  }

  .informationArchitecture1 img {
    /* width: 40%; */
    height: 30vw;
    width: 20vw;
  }

  .informationArchitecture1 p {
    width: 40vw;
  }

  .informationArchitecture2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .informationArchitecture2 img {
    border: solid 1px black;
    min-width: 400px;
    width: 60%;
  }

  .informationArchitecture3 {
    display: flex;
  }

  .informationArchitecture3 img {
    height: auto;
    min-width: 500px;
    width: 60%
  }

  .informationArchitecture4 {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px;
  }

  .info-architecture4-tasks {
    margin-right: 50px;
  }

  .info-architecture4-tasks h3 {
    font-weight: bolder;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left;
  }

  .info-architecture4-testing2 img {
    padding-top: 50px;
    /* width: 30%; */
  }

  .info-architecture4-upper {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .inner-wrap {
    margin: 0;
  }

  .inner-wrap h3 {
    text-align: left;
  }

  .inner-wrap h5 {
    text-align: left;
  }

  .inner-wrap h6 {
    text-align: left;
  }

  .logo-and-type img{
    max-height: 125px;
    justify-content: center;
  }

  .navbar {
    background-color: none;
    display: block;
    float: right;
    padding: 5px;
    /* min-width: 25%;
    width: 300px; */
  }

  .navbar li {
    /* border-left: 1px solid white; */
    float: right;
  }

  .navbar li:last-child {
    border-left: none;
  }

  .navbar li a {
    color: white;
    display: block;
    font-size: 18px;
    padding: 10px;
    text-align: center;
  }

  .navbar li a:hover {
    color: #C0D4F5;
  }

  p {
    font-size: 1.5rem;    /* text-align: center; */
    text-align: left;
  }

  .prototypeTesting {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    width: 100%;
  }

  .sketches {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .sketches h3 {
    font-weight: bolder;
    padding-top: 50px;
  }

  .sketches p {
    padding-bottom: 15px;
  }

  #sketchesv1 {
    padding-top: 0px;
  }

  .slogan {
    display: inline-block;
    font-size: 2.5rem;
  }

  .space-around {
    width: 40vw;
  }

  .project {
    justify-content: space-around;
    max-width: 100%;
  }

  .project img {
    max-width: 90%;
  }

  .projectDetails {
    border: var(--main-border-style);
    justify-content: center;
    margin-bottom: 50px;
    padding: 50px;
    width: 100%;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
     */
  }

  ul {
    list-style-type: none;
    overflow: hidden;
    width: 100%;
  }

  .user-stories {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .user-stories img {
    height: auto;
    max-height: 15vw;
  }

  .user-stories-text {
    width: 50%;
    padding-left: 50px;
    text-align: left;
  }

  .versions-carousel {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .visualDesign {
    display: flex;
    flex-direction: row;
    justify-content: center;
    white-space: nowrap;
    width: 100%;
  }

  .visualVersions {
    align-items: center;
    display: flex;
    height: auto;
    width: 100%;
  }

  .visualVersions h3 {
    font-weight: bolder;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .visualVersions img {
    height: 500px;
  }

  .visualVersions p {
    padding-top: 10px;
  }

}



/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
