body {
  padding-bottom: 5rem;
}

header {
  background: url(../images/Hero-Shot.png) center / cover;
  height: 60vh;
  justify-content: center !important;
  text-align: center;
}

h1  {
  font-weight: bold;
  color: rgba(255, 255, 255,0.9);
}

.slogan {
  font-weight: lighter;
  color: rgba(255, 255, 255,0.8);
  font-size: 1.6rem;
}

main {
  max-width: 900px;
}

.project-description {
  padding-left: 0;
}

.project img {
  width: 100%;
}

footer.mdl-mini-footer {
  bottom: 0;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

footer.mdl-mini-footer > ul {
  margin: auto;
  font-size: 2rem;
}

@media screen and (max-width: 1024px) {
  header.mdl-layout__header {
    display: flex;
  }
}
